# 分类变量特征提取（独热编码one hot encoding）

DictVectorizer类表示分类特征

In [3]:
from sklearn.feature_extraction import DictVectorizer
onehot_encoder = DictVectorizer()
instances = [{'city': 'New York'},{'city': 'San Francisco'}, {'city': 'Chapel Hill'}] #不同城市，分类变量
onehot_encoder.fit_transform(instances).toarray()

array([[ 0.,  1.,  0.],
       [ 0.,  0.,  1.],
       [ 1.,  0.,  0.]])

In [7]:
import pandas as pd
lst = [1,3,4,2]
pd.get_dummies(lst)

   1  2  3  4
0  1  0  0  0
1  0  0  1  0
2  0  0  0  1
3  0  1  0  0